@using HikiComic.ViewModels.Base;
@{
    ViewData["Title"] = "Roles";
}

@section Header{
    <link href="~/assets/extensions/toastify-js/src/toastify.css" rel="stylesheet" />
    <link href="~/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/assets/extensions/datatables.net-bs5/css/select.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/assets/extensions/datatables.net-bs5/css/jquery.datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="~/assets/css/my-style.css" rel="stylesheet" />
}

@*paging*@
<div class="page">
    <!--Page Title-->
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last mb-2">
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first  d-flex justify-content-end">
                <nav aria-label="breadcrumb"
                     class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            @ViewData["Title"]
                        </li>
                        <li class="breadcrumb-item active">
                            Role Management
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!--Page Content-->
    <div class="page-content">
        <section class="section">
            <div class="card card-page">
                <div class="card-header">
                    <div class="d-flex btn-header gap-1">
                        <input type="text" class="form-control" id="search"
                               placeholder="Search" />

                        <button data-bs-toggle="modal"
                                id="btn-create"
                                data-bs-target="#modal-create"
                                class="btn btn-outline-primary text-nowrap icon-left">
                            <i class="bi bi-plus-lg"></i>
                            Create Role
                        </button>

                        <button data-bs-toggle="modal"
                                data-bs-title="Delete selected lines"
                                id="btn-deletecheckall" disabled
                                data-bs-target="#modal-delete-multiple"
                                class="btn btn-outline-danger text-nowrap icon-left">
                            <i class="bi bi-trash"></i>
                            Delete All
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="rolesDatatable" class="table table-bordered dt-responsive nowrap" width="100%" cellspacing="0" style="text-align: center">
                        <thead>
                            <tr>
                                <th data-orderable="false">
                                    <input type="checkbox" id="checkbox-all" class="form-check-input bg-secondary" />
                                </th>
                                <th>Role Name</th>
                                <th>Description</th>
                                <th>Priority</th>
                                <th>Date Created</th>
                                <th>Active</th>
                                <th data-orderable="false">
                                    Action
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<!--Modal Create Role -->
<div class="modal fade text-left" data-bs-backdrop="static" data-bs-keyboard="false" id="modal-create" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <form class="form" method="post" id="form-create-role">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New Artist Creation</h4>
                    <button type="button" class="close" id="cancel-create-role" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mandatory">
                                <label for="role-name" class="form-label">Role Name</label>
                                <input type="text" id="role-name" autofocus name="role-name" class="form-control form-control-lg" placeholder="Role Name" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description" class="form-label">Description</label>
                                <input type="text" id="description" name="description" class="form-control form-control-lg" placeholder="Description" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mandatory">
                                <label for="priority" class="form-label">Priority</label>
                                <select id="priority" name="priority" class="choices form-select form-control-lg">
                                    <option value="1" selected>None</option>
                                    <option value="2">Low</option>
                                    <option value="3">Medium</option>
                                    <option value="4">High</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mandatory">
                                <label for="joined-date" class="form-label">Date Create</label>
                                <input type="date" id="CreateDate" name="CreateDate" class="form-control form-control-lg" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submit-create-role" class="btn btn-primary">Save</button>
                    <button type="button" id="cancel-create-role" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Modal Update Role-->
<div class="modal fade text-left" data-bs-backdrop="static" data-bs-keyboard="false" id="modal-edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <form class="form" id="form-edit-role">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Role </h4>
                    <button type="button" class="close" id="cancel-edit-role" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mandatory">
                                <label for="role-name" class="form-label">Role Name</label>
                                <input type="text" id="role-name" autofocus name="role-name" class="form-control form-control-lg" placeholder="Role Name" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description" class="form-label">Description</label>
                                <input type="text" id="description" name="description" class="form-control form-control-lg" placeholder="Description" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mandatory">
                                <label for="priority" class="form-label">Priority</label>
                                <select id="priority" name="priority" class="choices form-select form-control-lg">
                                    <option value="1" selected>None</option>
                                    <option value="2">Low</option>
                                    <option value="3">Medium</option>
                                    <option value="4">High</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mandatory">
                                <label for="date-created" class="form-label">Date Created</label>
                                <input type="date" id="date-created" name="date-created" class="form-control form-control-lg" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="submit-edit-role" class="btn btn-primary">Save</button>
                    <button type="button" id="cancel-edit-role" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Modal Delete Role In Line-->
<div class="modal text-left" data-bs-backdrop="static" data-bs-keyboard="false" id="modal-delete"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Role </h5>
                <button type="button" data-bs-dismiss="modal" class="close" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body py-3">
                <div class="d-flex align-items-center">
                    <div class="icon-modal">
                        <i class="bi bi-exclamation-triangle"></i>
                    </div>
                    <div>
                        <p class="mb-0">Are you sure that you want to delete <span id="roleIdDelete"></span>?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="btn-delete" class="btn btn-primary">OK</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
                    <span class="d-none d-sm-block">Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal Delete Role multiple-->
<div class="modal modal-delete text-left" data-bs-backdrop="static" data-bs-keyboard="false" id="modal-delete-multiple" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete multiple Role(s)</h5>
                <button type="button" data-bs-dismiss="modal" class="close" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body py-3">
                <div class="d-flex align-items-center">
                    <div class="icon-modal">
                        <i class="bi bi-exclamation-triangle"></i>
                    </div>
                    <div>
                        <p class="mb-0">Are you sure that you want to delete the selected Role (s)?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="delete-with-checkbox" data-bs-dismiss="modal">
                    <i class="bi bi-trash d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">OK</span>
                </button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
                    <i class="bi bi-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal Restore Role -->
<div class="modal text-left" data-bs-backdrop="static" data-bs-keyboard="false" id="modal-restore" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Restore Role </h5>
                <button type="button" data-bs-dismiss="modal" class="close" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body py-3">
                <div class="d-flex align-items-center">
                    <div class="icon-modal">
                        <i class="bi bi-exclamation-triangle"></i>
                    </div>
                    <div>
                        <p class="mb-0">Are you sure you want to restore <span id="role-name-restore"></span>?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="submit-restore-role" class="btn btn-primary">OK</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">
                    <span class="d-none d-sm-block">Cancel</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal Information Role -->
<div class="modal fade text-left" data-bs-backdrop="static" data-bs-keyboard="false" id="modal-information" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <form class="form" id="form-information-role">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Information Role</h4>
                    <button type="button" data-bs-dismiss="modal" class="close" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mandatory">
                                <label for="role-name" class="form-label">Role Name</label>
                                <label id="role-name" name="role-name" class="form-control form-control-lg"></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description" class="form-label">Description</label>
                                <label id="description" name="description" class="form-control form-control-lg"></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mandatory">
                                <label for="role-priority" class="form-label">Priority</label>
                                <label id="role-priority" name="role-priority" class="form-control form-control-lg"></label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mandatory">
                                <label for="role-is-deleted" class="form-label">Active</label>
                                <label id="role-is-deleted" name="role-is-deleted" class="form-control form-control-lg"></label>
                            </div>
                        </div>

                        @await Html.PartialAsync("PartialViews/_CreateUpdateUserInfo", new ElementIdViewModel { ElementId = "role" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" id="submit-information-genre" class="btn btn-primary">OK</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Toast-->
<div class="position-fixed top-0 end-0 p-3" style="z-index: 111111111;">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="alert mb-0 ">
            <i class="bi bi-exclamation-triangle"></i>
            <span id="toast-content"></span>
        </div>
    </div>
</div>

@section Footer{
    <script src="~/assets/extensions/toastify-js/src/toastify.js"></script>
    <script src="~/assets/extensions/jquery/jquery.min.js"></script>
    <script src="~/assets/extensions/datatables/datatables.min.js"></script>

    <script src="~/assets/extensions/datatables/dataTables.select.min.js"></script>

    <script src="~/assets/extensions/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/assets/js/pages/roles.js"></script>
}