.note-editable{
    color: white;
}

.note-toolbar,
.note-editable,
.note-toolbar .note-btn-group {
    background: #222f3e !important;
}

button.note-btn {
    background: #222f3e;
    color: white;
    border-color: black;
}

.note-dropdown-menu,
.note-dropdown-menu.dropdown-style {
    background: #222f3e;
}

button.note-btn.dropdown-toggle {
    height: 36.5px;
}